@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-poppins);
}

:root {
  --brand-orange: #ff8c00;
  --brand-yellow: #eab308;
  --brand-red: #dc2626;
}

body {
  font-family: var(--font-poppins), system-ui, sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
